.body {
    background-image: url('../assets/back_img1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    }

.center {
  margin: auto;
  width: 60%;
  height: 100%;
  border: 3px solid #162303;
  background-color: darkslategrey;
  background-image: -moz-radial-gradient(darkslategrey);
  /* padding: 200px; */
  /* align-content: center;
  vertical-align: middle;
  text-align: center; */
  /* rounded corner */

  border-radius: 25px;
  background: url(assets/img1);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.right {
  float: right;
  width: 300px;
  border: 3px solid #062713;
  padding: 10px;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
     transition: transform .7s ease-in-out;
    margin-left:10px;

  }

button:hover
{
    transform: rotate(360deg);

}
img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}